body,
header,
.error,
.indie {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
}

body {
  font-size: 3rem;
  margin-bottom: 7rem;
}

.nav-link {
  font-size: 70%;
  color: inherit;
}

.error {
  color: #c0392b;
}

.card-title {
  font-weight: 900;
  max-width: 17ch;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.icon-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.icon-list li {
  padding-right: 0.4rem;
}

.icon-list svg {
  fill: #7f8c8d;
}

aside {
  font-weight: 400;
}

aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 75%;
}

header span {
  font-family: "Gochi Hand";
}

.genre-list img {
  max-width: 32px;
  margin-right: 0.5rem;
}

.genre-list a {
  color: inherit;
  text-decoration: none;
}

.genre-list a:hover {
  text-decoration: underline;
}

.display-6 {
  font-size: 120%;
  font-weight: 900;
}
